body {
    font-family: Arial;
    background: #121212;
    color: white;
    text-align: center;
}

input {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background: purple;
    color: white;
    cursor: pointer;
}

button:hover {
    background: darkviolet;
}

#errorPanel {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 300px;
    background: #1f1f1f;
    padding: 10px;
    border-radius: 8px;
    max-height: 400px;
    overflow-y: auto;
}

ul {
    list-style: none;
    padding: 0;
}
