body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #2a004f, #000000);
    color: white;
    text-align: center;
}

h1 {
    margin-top: 30px;
    font-size: 40px;
}

.card {
    background: rgba(255,255,255,0.1);
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 500px;
    border-radius: 15px;
}

input {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border: none;
    width: 200px;
}

button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background: purple;
    color: white;
    cursor: pointer;
}

.buttonLink {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: gold;
    color: black;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: rgba(255,255,255,0.15);
    margin: 8px;
    padding: 10px;
    border-radius: 8px;
}
