body{
margin:0;
font-family:Arial;
color:white;
background:
linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
url("https://www.efteling.com/nl/-/media/images/nieuw-events/winterefteling/sfeerbeeld/1024x576-baron-1898-winter-efteling-avond.jpg");
background-size:cover;
background-attachment:fixed;
text-align:center;
}

h1{color:gold;}

.container{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
padding:20px;
}

.card{
background:rgba(0,0,0,0.7);
padding:15px;
border-radius:15px;
}

button{
padding:8px 15px;
margin:5px;
border:none;
border-radius:8px;
background:gold;
cursor:pointer;
font-weight:bold;
}

input{
padding:8px;
margin:5px;
border-radius:8px;
border:none;
}

.bar{
height:25px;
background:gray;
margin:5px 0;
border-radius:10px;
overflow:hidden;
}

.fill{
height:100%;
background:gold;
}
