body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;

    /* Achtergrond afbeelding */
    background: 
        linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
        url("https://www.efteling.com/nl/-/media/images/nieuw-events/winterefteling/sfeerbeeld/1024x576-baron-1898-winter-efteling-avond.jpg");

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* TITEL */
h1 {
    margin-top: 30px;
    font-size: 42px;
    text-shadow: 0 0 15px black;
}

/* CARD */
.card {
    background: rgba(0, 0, 0, 0.6);
    padding: 25px;
    margin: 25px auto;
    width: 90%;
    max-width: 500px;
    border-radius: 15px;
    backdrop-filter: blur(6px);
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
}

/* INPUT */
input {
    padding: 12px;
    margin: 10px;
    border-radius: 8px;
    border: none;
    width: 220px;
    font-size: 16px;
}

/* BUTTON */
button {
    padding: 12px 25px;
    border-radius: 8px;
    border: none;
    background: #6a00ff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #6a00ff;
}

/* LINK BUTTON */
.buttonLink {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: gold;
    color: black;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

/* LIJST */
ul {
    list-style: none;
    padding: 0;
}

li {
    background: rgba(255,255,255,0.15);
    margin: 8px;
    padding: 10px;
    border-radius: 8px;
}
