body {
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    background: url("https://upload.wikimedia.org/wikipedia/commons/7/73/Baron_1898_Efteling.jpg") no-repeat center center fixed;
    background-size: cover;
    color: gold;
    text-align: center;
}

.overlay {
    background: rgba(0,0,0,0.8);
    min-height: 100vh;
    padding: 30px;
}

h1 {
    font-size: 40px;
}

.box {
    background: rgba(20,20,20,0.9);
    padding: 20px;
    border-radius: 15px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
}

button {
    padding: 12px 25px;
    font-size: 18px;
    background: darkred;
    color: gold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
